.bkg{
    background-image: url('../icons/background1.png');
    background-size: cover;
 
    
}

.msg {
  background-color: rgb(166, 166, 177);
  box-shadow: 4px 4px 10px 10px rgb(12, 10, 12);
  font-family: italic;
  padding-left: 15px;
}

.form1 {
  display:grid;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}
