.landing{
    background-image: url('../icons/background.jpg');
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.welcomeMsg{
  font-size: 3rem;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #4864c0, 0 0 20px #4170ae,
  0 0 20px #4d122f, 0 0 30px #480929, 0 0 30px #390a21;
  font-size: 23px;
    color: rgb(0, 0, 0);
    font-style: groove;
    position:relative;
    font-size: 60px;
    padding-left: 8px;
    background: #413d40;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #968d96, #87737d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #676768, #727272); 
    box-shadow: #a16381;
}

.btn {
  justify-content: center;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  }
  
  .btn::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }


  .btn:hover {
     
    color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);

  }

  .btn:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }


